<div class="container">
  <h1 class="page-header">Homework</h1>

  <div>
    <ol>
      <li>
        開発環境を用意する(Visual Studio or WebStorm) (本当はmacも）<br>
        <a href="https://www.jetbrains.com/webstorm/">
          https://www.jetbrains.com/webstorm/
        </a>
      </li>
      <li>
        Github, Bitbucket, Herokuにアカウントを作る<br>
        <a href="https://github.com/">
          https://github.com/
        </a><br>
        <a href="https://bitbucket.org/">
          https://bitbucket.org/
        </a><br>
        <a href="https://www.heroku.com/">
          https://www.heroku.com/
        </a>
      </li>
      <li>
        このアプリをcloneして、Herokuにアプリを登録する<br>
        <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
          https://devcenter.heroku.com/articles/getting-started-with-nodejs
        </a>
      </li>
      <li>
        自分のアプリを作成して、Herokuにアプリを登録する
      </li>
    </ol>
  </div>
</div>
