<div class="container">
  <h1 class="page-header">{{vm.title}}</h1>

  <h2>Qiita</h2>

  <div>
    2015年までにWebのフロントエンドが辿ってきた道
    <p>
      <a href="http://qiita.com/joe-re/items/3b6730eb90dbeb2f8272">http://qiita.com/joe-re/items/3b6730eb90dbeb2f8272</a>
    </p>
  </div>

  <div>
    ここ数年前から2015/5までのモダンフロントエンドを総まとめしてみた
    <p>
      <a href="http://qiita.com/okmttdhr/items/1caff5a36c8468779a64">http://qiita.com/okmttdhr/items/1caff5a36c8468779a64</a>
    </p>
  </div>

  <h2>Bootstrap</h2>
  <div>
    <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>
    <p>
      BootstrapはWebサイトやWebアプリケーションを作成するフリーソフトウェアツール集である。
      タイポグラフィ、フォーム、ボタン、ナビゲーション、その他構成要素やJavaScript用拡張などがHTML及びCSSベースの
      デザインテンプレートとして用意されている。
      GitHubで最も人気があり、アメリカ航空宇宙局やMSNBCなどに採用されている
    </p>
  </div>

  <h2>HTML/CSS</h2>
  <div>
    <ul class="list-unstyled">
      <li>
        Mozilla Developer Network: <a href="https://developer.mozilla.org/ja//">https://developer.mozilla.org/ja/</a>
      </li>
      <li>
        SASS: <a href="http://sass-lang.com/">http://sass-lang.com/</a>
      </li>
    </ul>
  </div>

  <h2>AngularJS</h2>
  <div>
    <ul class="list-unstyled">
      <li>
        Developer Guide : <a href="https://angularjs.org/">https://docs.angularjs.org/guide</a>
      </li>
      <li>
        AngularJS API Docs : <a href="https://docs.angularjs.org/api">https://docs.angularjs.org/api</a>
      </li>
    </ul>
  </div>

  <h2>AngularUI Router</h2>

  <ul class="list-unstyled">
    <li>
      Repository : <a href="https://github.com/angular-ui/ui-router/tree/legacy">https://github.com/angular-ui/ui-router/tree/legacy</a>
    </li>
    <li>
      API Reference : <a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router.state.directive:ui-view">
      http://angular-ui.github.io/ui-router/site/#/api/ui.router.state.directive:ui-view</a>
    </li>
  </ul>
</div>
