<div class="container">
  <h1 class="page-header">{{vm.title}}</h1>

  <div class="row">
    <div class="col-xs-12">
      <select ng-model="vm.params.feature">
        <option value="{{feature}}" ng-repeat="feature in vm.feature_list">
          {{feature}}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul uib-pagination
          ng-model="vm.params.current_page"
          total-items="vm.rsp.total_items"
          max-size="10" class="pagination-sm"
          boundary-links="true"
          num-pages="vm.rsp.total_pages"></ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2" ng-repeat="photo in vm.rsp.photos">
      <a class="thumbnail">
        <img ng-src="{{photo.image_url}}">
      </a>
    </div>
  </div>
</div>

